/* Estilo para el contenedor principal */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espacio interno */
}

/* Estilo para el contenedor de texto e imagen */
.text-image {
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
}

/* Estilo para el texto dentro de .text-image */
.text {
    margin-right: 20px; /* Espacio entre el texto y la imagen */
}

/* Estilo para las imágenes fluidas */
.img-fluid {
    max-width: 100%; /* Ajusta la imagen a su contenedor */
    height: auto;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #f8f9fa; /* Color de fondo claro para la barra de navegación */
}


/* Estilo para el pie de página cuando se quiere un diseño más moderno */
footer {
    background-color: #f8f9fa; /* Color de fondo claro para el pie de página */
    color: #000000; /* Color del texto en el pie de página */
    padding: 20px 0; /* Espacio interno vertical */
    border-top: 1px solid #000000; /* Línea superior opcional para separación */
}

/* Estilo para el formulario de contacto */
form {
    margin-top: 20px; /* Espacio superior para el formulario */
}

/* Estilo para el <thead> de la tabla */
.table-header-bg {
    background-color: #f8f9fa; /* Gris claro similar al del navbar */
    color: #000000; /* Color del texto, opcionalmente puedes ajustar esto también */
}